* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Space Grotesk";
  box-sizing: border-box;
}
body {
  background-color: rgb(19, 19, 19);
}
.navbar {
  display: flex;
  height: 60px;
  background-color: rgb(12, 12, 12);
  scroll-snap-align: start;
}
.containerr {
  display: flex;
  gap: 40px;
  margin: auto;
}

.navbar img {
  filter: grayscale(100);
  position: absolute;
  height: 50px;
  opacity: 40%;
}

.navbar a {
  color: white;
  font-size: 20px;
}

.greet {
  height: calc(100vh - 60px);
  background-color: rgb(13, 13, 13);
  background-image: radial-gradient(#ebebeb42 1px, transparent 1px);
  background-size: 40px 40px;
}

.aboutme {
  background-image: url(img/img-3.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.greet {
  display: flex;
}
.typewriter {
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
  margin-top: 17%;
}
#whoami {
  color: rgb(121, 6, 170);
}
.uh {
  display: flex;
}

.kdojsem p {
  font-size: 50px;
  font-weight: 900;
}

@keyframes flickering {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#flickering {
  animation: flickering 1.1s infinite;
}

.infocard {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(21, 21, 21, 0.613);
  margin: 60px;
  outline: 2px dotted rgba(243, 243, 243, 0.442);
  border-radius: 20px;
  padding: 40px;
}

.infocard h1 {
  font-size: 50px;
}

.view {
  display: flex;
}

.hr {
  width: 70%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  margin: auto;
}

.info-text {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 25px;
  margin: 30px 0px;
  width: 90%;
  margin: auto;
  gap: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.element {
  background-color: rgba(47, 47, 47, 0.761);

  height: 40px;
  border-radius: 199px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 18px;
}
.element:hover {
  background-color: rgba(31, 31, 31, 0.761);
  transition-duration: 0.9s;
  transform: scale(1.1);
}

.element img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.view-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: auto;
  width: 90%;
  margin-top: 40px;
}
.card {
  background-color: rgba(101, 101, 101, 0.195);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  outline: 2px dotted rgba(250, 250, 250, 0.241);
}
.card h1 {
  font-size: 30px;
  margin: 15px 0px;
}
.card:hover {
  transition-duration: 0.9s;
  transform: scale(1.1);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.hopa {
  background-image: radial-gradient(#ebebeb42 1px, transparent 1px);
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  cursor: none;
  scroll-behavior: smooth;
}
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid white;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 599;
  pointer-events: none;
}
#mender {
  color: rgb(0, 70, 160);
}

#web {
  font-weight: bold; /* Tloušťka písma */
  background: linear-gradient(
    to right,
    #cac531,
    #f3f9a7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* Gradient od jednoho barevného přechodu k druhému */
  -webkit-text-fill-color: transparent;
}

#whoami {
  font-weight: bold; /* Tloušťka písma */
  background: linear-gradient(
    to right,
    #7f00ff,
    #e100ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* Gradient od jednoho barevného přechodu k druhému */
  -webkit-background-clip: text; /* Klipování pozadí pro text (pro WebKit prohlížeče) */
  -webkit-text-fill-color: transparent;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 1200px;
  margin: 50px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  height: 100%;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgba(59, 59, 59, 0.214);
  border: 4px solid #2c2c2c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}
.open-main-nav {
  display: none;
}
/* Place the container to the right */
.right {
  left: 50%;
}
.main-nav {
  display: none;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(102, 102, 102);
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  background-color: rgba(51, 51, 51, 0.261);
  position: relative;
  outline: 2px dotted rgba(243, 243, 243, 0.442);
  display: flex;
  border-radius: 6px;
  color: white;
}

.content img {
  height: 100%;
  width: auto;
  opacity: 20%;
  right: 0;
  position: absolute;
}
.rah {
  padding: 40px 30px;
}

.hopa h1 {
  font-size: 50px;
  color: white;
  margin-top: 50px;
}

.kontakt {
  /* oranges! yey */
  user-select: none;
}
.kontakt:focus {
  border-bottom: 2px solid rgb(125, 5, 169);
}
.forma {
  display: grid;
  flex-direction: column;
  width: 500px;
  color: white;
  height: 200px;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #1c1c1c88;
}
.forma input {
  border: 0; /* oranges! yey */
  border-bottom: 2px solid rgb(64, 64, 64);

  background-color: rgba(255, 222, 173, 0);
  width: 100%;
  height: 35px;
  font-size: 30px;
  color: white;
  outline: none;
}

.field-holder {
  position: relative;
  margin-bottom: 30px;
}

label {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 26px;
}

.callme {
  background-color: #1c1c1c;
  background-image: url(img/img-3.png);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 100px 0px;
}

.field-holder.clicked label {
  top: -30px; /* Move label up 40px when clicked */
  color: #b807cf;
  transition-duration: 0.2s; /* Optional: Change label color */
}

.footer {
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 30px 0px;
}

.footer a {
  color: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;

  margin-right: 10px;
}

.social {
  display: flex;
}

.facebook:hover {
  background: #4267b2;
  transition: background 0.2s ease-in-out; /* Ensure the transition is applied */
}

.linkedin:hover {
  background-color: #0a66c2;
  transition: background-color 0.2s ease-in-out;
}

.instagram:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  transition: background 0.2s ease-in-out; /* Apply the transition specifically to background */
}

.iko:hover {
  transition: all 0.2s ease-in-out;
}

.github:hover {
  background-color: #2b3137;
}

.bottom {
  background-color: black;
  height: 40px;
  display: flex;
  text-align: center;
  color: rgb(52, 52, 52);
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

hr {
  margin: 15px 0px;
}

#submit {
  width: 60%;
  margin: auto;
  border: none;
  background-color: #9a06df;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
} /* General styling for the mobile warning */
/* General styling for the mobile warning */
.message {
  font-size: 48px;
  color: red;
  display: none;
}

.navbar-mobile {
  display: none;
}
